.user {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-lg);
}

.user__top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}