.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;
    background-color: white;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__open-drawer-btn {
    display: none;
  }
  
  &__logo {
    display: none;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  // &__icon-btn {
  //   border: 1px solid #eeeded
  // }
}

@media screen and (max-width: 900px) {
  .navbar__open-drawer-btn {
    display: flex;
    align-items: center;
  }

  .navbar__logo {
    display: block;
  }
}