.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid lightgrey;
  z-index: 10;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing) var(--spacing-lg);
  color: var(--text-color);
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
}

.navbar__open-drawer-btn {
  display: none;
  color: var(--text-color);
}

.navbar__logo {
  display: none;
}

.navbar__logo a {
  text-decoration: none;
  color: inherit;
}

.navbar__search-bar {
  color: var(--text-color);
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: var(--bg-card-color);
}

.navbar__search-bar input {
  color: var(--text-color);
}

.navbar__items-wrapper {
  display: block;
}

.navbar__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
}

.navbar__items-mobile-options-btn {
  display: none;
}

.navbar__items-mobile-options-menu .MuiPopover-paper {
  background-color: var(--bg-color);
  border: 1px solid lightgray;
}

.navbar__icon-btn {
  color: var(--text-color);
}

@media screen and (max-width: 900px) {
  .navbar__open-drawer-btn {
    display: flex;
    align-items: center;
  }

  .navbar__logo {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .navbar__left {
    width: 100%;
    justify-content: flex-start;
  }

  .navbar__search-bar {
    margin-left: auto;
  }

  .navbar__items-wrapper {
    display: none;
  }

  .navbar__items {
    flex-direction: column;
  }

  .navbar__items-mobile-options-btn {
    display: block;
    color: var(--text-color);
  }
}