.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;
    background-color: white;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  // &__icon-btn {
  //   border: 1px solid #eeeded
  // }
}