.sidebar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  z-index: 20;
}

.sidebar__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid lightgray;
}

.sidebar__logo {
  color: var(--text-color);
}

.sidebar__list-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar__list-wrapper::-webkit-scrollbar {
  width: var(--spacing-sm);
}

.sidebar__list-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--scrollbar-color);
}

.sidebar__list-wrapper .MuiAccordion-root {
  color: var(--text-color);
  background-color: transparent;
}

.sidebar__list li {
  list-style: none;
}

.sidebar__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: transparent;
  transition: all 200ms;
}

.sidebar__link:hover,
.sidebar__link--active {
  color: var(--text-light);
  background-color: #ecf3f5;
}

.sidebar__accordion-title {
  min-height: auto;
  margin-top: var(--spacing-sm);
  border-bottom: 1px solid lightgrey;
  color: var(--text-color);
  background-color: transparent;
  cursor: default;
}

.sidebar .MuiAccordion-root,
.sidebar--mobile .MuiAccordion-root {
  box-shadow: none;
}

.sidebar .MuiAccordionSummary-content {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
  cursor: default;
}

.sidebar__accordion-details {
  padding-top: 0;
  padding-bottom: 0;
}

.sidebar__bottom {
  padding: 1rem;
  flex-shrink: 0;
  text-align: center;
  color: var(--text-color);
  border-top: 1px solid lightgrey;
}

.sidebar__drawer .MuiDrawer-paper {
  background-color: var(--bg-color);
}

.sidebar--mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .sidebar--mobile {
    display: block;
    min-width: 240px;

  }

  .sidebar--mobile .sidebar__logo-wrapper {
    position: relative;
    padding: var(--spacing-sm) var(--spacing-lg);
  }

  .sidebar--mobile__close-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 10;
  }
}