:root {
  --heading-1: 4.209rem;
  --heading-2: 3.157rem;
  --heading-3: 2.369rem;
  --heading-4: 1.777rem;
  --heading-5: 1.333rem;
  --paragraph: 1rem;
  --text-small: 0.75rem; 
  
  --line-height: 1.5;
  --baseline: calc(var(--paragraph) * var(--line-height));
  --spacing: calc(var(--baseline) * 0.5);
  --spacing-sm: calc(0.75 * var(--spacing));
  --spacing-lg: calc(1.5 * var(--spacing));
  --spacing-xl: calc(3 * var(--spacing));

  --scrollbar-color: #bbbbbb;

  --card-shadow: 3px 3px 3px rgba(0,0,0,0.25);
  --card-border: 1px solid rgba(0,0,0,0.05);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  border-right: 1px solid lightgrey;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}